<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Site Teste - Usuário: {{nome_usuario}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site_teste_usuario.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1><a href="/" style="color: inherit; text-decoration: none;">Usuário - {{nome_usuario}}</a></h1> <!--Quando clicar no titulo é redirecionado para a homepage-->
    </header>

    <section>
        <div>Olá {{nome_usuario}}! Bem-Vindo a Página de Usuário</div> <!--A variavel python precisa estar entre duas chaves para funcionar-->
        <img id="usuario" src="https://cdn-icons-png.flaticon.com/512/17/17004.png" alt="">
    </section>

    

    <footer>
        <p>&copy; Guilherme William</p>
    </footer>
    <script src="{{ url_for('static', filename='site_teste_usuario.js') }}"></script>
</body>
</html>